body {
  font-family: sans-serif;
  background-color: lightgray;
}

.container {
  margin: auto;
  width: 500px;
  height: 400px;
  padding: 25px 0;
  margin-top: 80px;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 0 15px #8c8f8c;
}

.logo {
  width: 150px;
  margin: auto;
  display: block;
  border-radius: 50%;
  border: 2px dotted gray;
}

.title {
  width: 217px;
  font-size: 25px;
  color: #4c4d4c;
  margin: 25px auto;
  text-align: center;
  border-bottom: 5px solid lightgray;
}

.desc {
  color: #4c4d4c;
  text-align: center;
}

.socilas {
  height: 60px;
  text-align: center;
  background-color: lightgray;
}

.socilas img {
  width: 40px;
  margin: 10px;
}